#try-import %workspace%/clang.bazelrc
#try-import %workspace%/user.bazelrc

#build --cxxopt=-fuse-ld=lld
build --cxxopt=-stdlib=libc++
build --cxxopt=-std=c++2a
build --cxxopt=-fcoroutines-ts

build:clang_config --crosstool_top=//toolchain:clang_suite

build:clang_config --cpu=k8

build:clang_config --host_crosstool_top=@bazel_tools//tools/cpp:toolchain